@use "../utils/fonts";
@use "../utils/colors";
@use "../utils/variables";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: fonts.$font-secondary !important;
    font-size: fonts.$font-size-base !important;
    line-height: 1.4;
    background-color: colors.$grey !important;
    color: colors.$dark !important;
}

header,
footer {
    flex-shrink: 0; /* Empêche le header/footer de rétrécir */
}

main {
    flex-grow: 1; /* prend tout l'espace disponible */
}

h1,
h2,
h3,
h4 {
    font-family: fonts.$font-primary !important;
    font-weight: bold !important;
}

p {
    text-align: left;
    line-height: 1.7;
    font-size: 1.05rem;
}