@use "../utils/variables";
@use "../utils/colors";

footer {
  min-height: variables.$footer-height-mobile;
  background-color: colors.$dark;

  a,
  i,
  p {
    color: colors.$grey;
  }

  a {
    text-decoration: none;
  }

  i {
    font-size: 2rem;
    margin: 1.5rem;
  }

  a:hover,
  i:hover {
    color: colors.$blue;
  }

  p {
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    min-height: variables.$footer-height-desktop;
  }
}
