@use "../utils/fonts";
@use "../utils/variables";
@use "../utils/colors";

.navbar {
  min-height: variables.$header-height-mobile;
  background-color: colors.$dark;

  .nav-link {
    color: colors.$grey;
  }

  .nav-link:hover {
    color: colors.$blue !important;
  }

  @media (max-width: 992px) {
    min-height: variables.$header-height-desktop;
  }
}
