@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.4;
  background-color: #f2ede4 !important;
  color: #262526 !important;
}

header,
footer {
  flex-shrink: 0; /* Empêche le header/footer de rétrécir */
}

main {
  flex-grow: 1; /* prend tout l'espace disponible */
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold !important;
}

p {
  text-align: left;
  line-height: 1.7;
}

i {
  font-size: 2rem;
  margin: 1.5rem;
}

.m-custom {
  margin: 5rem 0 5rem 0;
}

.navbar {
  min-height: 60px;
  background-color: #262526;
}
.navbar .nav-link {
  color: #f2ede4;
}
.navbar .nav-link:hover {
  color: #2ea7f2 !important;
}
@media (max-width: 992px) {
  .navbar {
    min-height: 55px;
  }
}

footer {
  min-height: 180px;
  background-color: #262526;
}
footer a,
footer i,
footer p {
  color: #f2ede4;
}
footer a {
  text-decoration: none;
}
footer a:hover,
footer i:hover {
  color: #2ea7f2;
}
footer p {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  footer {
    min-height: 150px;
  }
}

/* Section Hero*/
#hero {
  background-image: url("../assets/img/hero.webp");
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #f2ede4;
}
#hero h1 {
  font-size: 2rem !important;
}
#hero h2 {
  font-size: 3rem !important;
}
@media (min-width: 576px) {
  #hero {
    min-height: unset;
  }
}

/* Section présentation*/
#presentation img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #262526;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
#presentation .row:hover img {
  transform: scale(1.02);
}
#presentation .linkedin-link {
  color: #262526;
  font-weight: 500;
  transition: all 0.3s ease;
}
#presentation .linkedin-link i {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
#presentation .linkedin-link:hover {
  color: #2ea7f2;
  transform: translateY(-2px);
}
#presentation .linkedin-link:hover i {
  transform: scale(1.1);
}

/* Section compétences*/
#skills {
  background-color: #262526;
}
#skills h2 {
  color: #2ea7f2;
}
#skills .skill-card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #262526;
}
#skills .skill-card:hover {
  transform: translateY(-5px);
}
#skills .skill-card .card-header {
  background-color: #2ea7f2;
  color: #262526;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills .skill-card .card-header .skill-title {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
#skills .skill-card .card-body {
  background-color: #f2ede4;
  color: #262526;
}
#skills .skill-card .card-body .skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#skills .skill-card .card-body .skills-list li {
  padding: 8px 12px;
  margin-bottom: 8px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#skills .skill-card .card-body .skills-list li i {
  font-size: 1rem;
  margin: 0.2rem;
}

/* Section projets*/
.project-card {
  background-color: #262526 !important;
  color: #f2ede4 !important;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.project-card .card-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
}
.project-card .card-header img {
  height: 400px !important;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 768px) {
  .project-card .card-header img {
    height: 250px !important;
  }
}
@media (min-width: 992px) {
  .project-card .card-header img {
    height: 400px !important;
  }
}
.project-card .card-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  gap: 1rem;
  padding: 2rem;
}
.project-card .card-header .overlay .btn {
  width: 70%;
}
.project-card .card-header:hover .overlay {
  opacity: 1;
}
.project-card .card-header:hover .project-img {
  transform: scale(1.05);
}
.project-card .card-body {
  padding: 1.5rem;
}
.project-card .card-body h3 {
  font-size: 1.3rem;
  color: #2ea7f2;
}
.project-card .card-body h4 {
  font-size: 1.1rem;
  color: #f2d680;
}
.project-card .card-footer {
  min-height: 130px;
  padding: 1rem;
}
.project-card .card-footer .icons i {
  color: #f2d680;
  font-size: 2rem;
  margin: 0.5rem;
}

/* Section contact*/
.contact-container {
  background-color: #262526;
  color: #f2ede4;
  border: 1px solid #262526;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-container:hover {
  transform: translateY(-5px);
}
.contact-container h2,
.contact-container a {
  color: #2ea7f2;
}
.contact-container i:hover {
  color: #f2d680;
}

/* Mentions*/
.infos-card {
  background-color: #262526;
  border: 1px solid #262526;
  border-radius: 1rem;
}
.infos-card h2 {
  color: #2ea7f2;
}
.infos-card p {
  color: #f2ede4;
}

.btn {
  background-color: #2ea7f2 !important;
  color: #f2ede4 !important;
}

.btn:hover {
  background-color: #f2d680 !important;
  color: #262526 !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
