@use "../utils/colors";

.btn {
  background-color: colors.$blue !important;
  color: colors.$grey !important;
}

.btn:hover {
  background-color: colors.$yellow !important;
  color: colors.$dark !important;
}
