
#hero {
  background-image: url("/assets/img/hero.webp");
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
}

h1 {
    font-size: 26px !important;

}

h2 {
    font-size: 40px !important;
}