#hero {
  background-image: url("/assets/img/hero.webp");
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  min-height: 100vh;

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 3rem !important;
  }
  @media (min-width: 576px) {
    min-height: unset;
  }
}
