$dark: #262526;
$blue: #2ea7f2;
$yellow: #f2d680;
$grey: #f2ede4;

$border-dark: 1px solid $dark;
$border-blue: 1px solid $blue;

.bg-dark {
  background-color: $dark !important;
  color: $grey !important;
}

.bg-light {
  background-color: $grey !important;
  color: $dark !important;
}

.bg-blue {
  background-color: $blue !important;
  color: $dark !important;
}

.text-light {
  color: $grey !important;
}

.text-blue {
  color: $blue !important;
}

.text-yellow {
  color: $yellow !important;
}

.border-dark {
  border: $border-dark !important;
  border-radius: 1rem !important;
}

.border-blue {
  border: $border-blue !important;
}
